{% extends "main.html" %}

{% block content %}

<center>
<br>
<h5>About</h5>
<p>
<text>There is a major shift toward retail investment via apps such as Robinhood and Webull, 
            versus traditional value investing via companies like Charles Schwab and Fidelity. These retail investors 
            often impulsively purchase small individual stocks, driven by public sentiment and social media coverage. 
            We aim to hedge these investments by suggesting low-risk, yet novel stocks that align with their investment goals. 
            We want to encourage the investor to experiment with small- and mid-cap companies, while understanding and mitigating the risk they take on.</text>
</p>
<br>
<b>Authors: Zachery Boner, Konrad Siebor, Harsh Padhye</b>
</center>

{% endblock %}