{% extends "main.html" %}

{% block content %}

<center>

    <div class="card text-center shadow" style="width: 40rem; margin-top: 30px">
        <div class="card-body">
            <h2 class="card-title" style="color: black">Get your stock recommendation</h2>
            <form action="/form" method="post" enctype="multipart/form-data">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Ticker Symbol</span>
                    </div>
                    <input type="text" class="form-control" id="ticker_symbol" name="ticker_symbol" placeholder="GME">
                </div>
               
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Value: $</span>
                    </div>
                    <input type="number" step="0.01" class="form-control" id="value" name="value" placeholder="100.00">
                </div>
                <div id="slider_disclaimer" class="form-text">
                    Total value of your investment in this stock at the time of purchase
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Future Investment: $</span>
                    </div>
                    <input type="number" step="0.01" class="form-control" id="future_value" name="future_value" placeholder="100.00">
                </div>
                <div id="slider_disclaimer" class="form-text">
                    How much you are willing to spend on an additional investment in the near term future
                </div>
                <br>
                <label for="current_risk" class="form-label">How risky do you think this investment was?</label>
                <input type="range" class="form-range" min="1" max="5" value="1" id="current_risk" name="current_risk">

                <label for="future_risk" class="form-label">How risky of an investment are you comfortable with in the future?</label>
                <input type="range" class="form-range" min="1" max="5" value="1" id="future_risk" name="future_risk">   

                <div id="slider_disclaimer" class="form-text">
                    On a scale of 1 to 5, with 1 being the least risky and 5 being the most risky
                </div>
                <br>
                <input class="btn btn-success" type="submit" value="Submit">
                <div id="button-disclaimer" class="form-text" style="color: blue;">
                    This may take some time as we crunch the numbers.  
                </div>
            </form>
        </div>
    </div>
</center>
<!-- 
<center>
    <div class="stock_form">
        <div class="form">
            <H5>Stock Submission Form</H5>
            <form action="/form" method="post" enctype="multipart/form-data">
                <input type="text" placeholder="AAPL" name="ticker_symbol"/>
                <br>
                <input type="number" placeholder="10.00" name="value"/>
                <br>
                <input type="range" min="1" max="10" value="5" class="slider" name="current_risk">
                <br>
                <input type="range" min="1" max="10" value="5" class="slider" name="future_risk">
                <br>
                <button type="submit">Submit</button></a>
            </form>
        </div>
    </div>
</center> -->

{% endblock %}
