<center>
    <!-- TODO Replace with username from basic authentication and count variable passed from python -->
    <div class="stock_form">
        <div class="form">
            <H5>Stock Submission Form</H5>
            <form action="/form" method="post" enctype="multipart/form-data">
                <input type="text" placeholder="AAPL" name="ticker_symbol"/>
                <br>
                <input type="number" placeholder="10.00" name="value"/>
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</center>