{% extends "main.html" %}

{% block content %}

<center>
    <div class="stock_form">
        <div class="form">
            <H5>Stock Submission Form</H5>
            <form target="action="/form" method="post" enctype="multipart/form-data">
                <input type="text" placeholder="AAPL" name="ticker_symbol"/>
                <br>
                <input type="number" placeholder="10.00" name="value"/>
                <br>
                <input type="range" min="1" max="10" value="5" class="slider" name="current_risk">
                <br>
                <input type="range" min="1" max="10" value="5" class="slider" name="future_risk">
                <br>
                <button type="submit">Submit</button></a>
            </form>
        </div>
    </div>
</center>

{% endblock %}
