
{% extends "main.html" %}

{% block content %}


<center>
<H1>Welcome to IndieHedge!</H1>
<br>

<div class="container h-100">
<div class="card-group" style="width: 45rem;">
    <div class="card h-100" style="width: 18rem;">
        <img src="https://compote.slate.com/images/926e5009-c10a-48fe-b90e-fa0760f82fcd.png?width=320&rect=680x453&offset=0x30" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Mission</h5>
            <p class="card-text">Our goal is to help retail investors diversify their portfolios 
                and manage their risk through machine learning-based prediction and risk assessment reccomendations.</p>
            <div class="card-footer text-muted">
                <a href="/about" class="btn btn-secondary">Learn More</a>
            </div>
        </div>
    </div>
    <div class="card h-100" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">How it works</h5>
            <p class="card-text">Our advanced data science tools help you manage your investment risk. 
                Tell us what stock you just bought, and we'll suggest low, medium, and high market cap stocks 
                to help you hedge your bets in style.</p>
            <br><br><br><br><br><br><br><br><br>
            <div class="card-footer text-muted">
                <a href="/form" class="btn btn-secondary">Start investing now</a>
            </div>
        </div>
    </div>
</div>
</div>


</center>

{% endblock %}